
@{
    ViewBag.Title = "writeComplaint";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head
{
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Icons font CSS-->
    <link href="~/Content/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="~/Content/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="~/Content/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/Content/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">
    <!-- Jquery JS-->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="~/Content/vendor/select2/select2.min.js"></script>
    <script src="~/Content/vendor/datepicker/moment.min.js"></script>
    <script src="~/Content/vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="~/Scripts/global.js"></script>
    <!-- Main CSS-->
    <link href="~/Content/main.css" rel="stylesheet" media="all">
    <script type="text/javascript">

        $(document).ready(function () {

            $.get('/WebAPI/api/ComplaintWebAPI/GetComplaintById?_id='+@ViewData["userId"], function (data) {
                $.each(data, function (key, value) {
                    debugger;
                    if (value.status == 0) {
                        var stat="pending resolution";
                    }else if (value.status == 1) {
                        var stat="resolved";
                    }else if (value.status == 2) {
                        varstat="dismissed";
                    }
                    $('#ComplaintArea').append("'<div class='"+"row row-space'"+ " style='"+"border:1px solid black;'"+"><div class='"+
                        "card'><div class='card-body'><p class='card-text'>"+value.complaintletter+
                        "</p><label class='label'>"+stat+"</label></div></div></div>")
                });
            });

            $('#btnAddComplaint').click(function () {
                debugger;
                var obj = new Object();
                obj.userId=@ViewData["userId"];
                obj.status = 0;
                obj.complaintletter = $('#txtComplaint')[0].value;
                $.post('/WebAPI/api/ComplaintWebAPI/PostInsert', obj, function () {
                    location.reload();
                });
            });
        });
    </script>
}

<body>
    <div class="page-wrapper p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title">Complaint Management Portal</h2>
                    <div class="row row-space">
                        <div class="col-4">
                            <div class="input-group">
                                <label class="label">Write here</label>
                                <textarea class="input--style-4" id="txtComplaint" cols="40" rows="5"></textarea>
                            </div>
                        </div>
                    </div>
                    
                    <div class="p-t-15">
                        <div class="col-2">
                            <div class="input-group">
                                <input class="btn btn--radius-2 btn--blue" type="button" id="btnAddComplaint" value="Send">
                            </div>
                        </div>
                    </div>
                    <div id="ComplaintArea">

                    </div>

                </div>
            </div>
        </div>
    </div>


</body>


